html {
	overflow-x: hidden;
}
.service-box {
	margin-bottom: 20px;
}
@media (max-width: 768px) {
    .main-navigation li {
        float: none;
    }
    .main-navigation ul {
        display: block;
    }
    header .header-content {
        padding-top: 400px;
    }

}
